/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
@import url('https://fonts.googleapis.com/css?family=Muli:400,700,900&display=swap');

body {
    background-color: #f4f4f4;
    font-family: 'Muli',
        'helvetica neue',
        helvetica,
        sans-serif;
}

#wp-admin-bar-root-default #wp-admin-bar-wp-logo {
    display: none;
}

#wpadminbar {
    background-color: #191E23;
    font-family: 'Muli',
        'helvetica neue',
        helvetica,
        sans-serif;
    letter-spacing: 0.04rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 10px;
    line-height: 1;
}

#wpadminbar a,
#wpadminbar * {
    letter-spacing: 0.04rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 10px;
    line-height: 3.3;
}

/* #adminmenu {
    margin-top: 56px;
} */

#adminmenu,
#adminmenu .wp-submenu,
#adminmenuback,
#adminmenuwrap {
    background-color: #f4f4f4;
    font-family: 'Muli', 'helvetica neue', helvetica,
        sans-serif;
}

#adminmenu .wp-submenu li {
    padding-left: 15px;
    position: relative;
}

#adminmenu .wp-menu-open .wp-submenu li:before {
    content: "";
    height: 100%;
    width: 5px;
    border-left: 1px solid #00b9eb;
    font-family: "font awesome";
    position: absolute;
    top: -50%;
    left: 15px;
    border-bottom: 1px solid #00b9eb;
}

#adminmenu li.wp-menu-separator {
    display: none;
}

#adminmenu .wp-has-current-submenu .wp-submenu,
#adminmenu a.wp-has-current-submenu:focus+.wp-submenu,
#adminmenu .opensub a.wp-has-current-submenu:focus+.wp-submenu {
    background-color: #f4f4f4 !important;
    color: #23282d !important;
}

body:not(.folded) #adminmenu .opensub.wp-has-current-submenu:focus+.wp-submenu li a,
body:not(.folded) #adminmenu .opensub.wp-has-current-submenu:focus+.wp-submenu li a:focus #adminmenu .opensub.wp-has-current-submenu:focus+.wp-submenu li a,
#adminmenu .opensub.wp-has-current-submenu:focus+.wp-submenu li a:focus {
    /* text-align: center !important; */
    color: #23282d !important;
}

.no-js li.wp-has-current-submenu:hover .wp-submenu {
    background-color: #23282D;
}

#adminmenu li.current a.menu-top,
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,
.folded #adminmenu li.current.menu-top,
.folded #adminmenu li.wp-has-current-submenu {
    background-color: #23282D;
}

/* hide admin menu triangles to right of active item */
ul#adminmenu a.wp-has-current-submenu:after,
ul#adminmenu>li.current>a.current:after {
    display: none;
}

/* nav icons */
#adminmenu div.wp-menu-image:before,
div.wp-menu-image:before {
    color: #23282D;
}

#adminmenu div.wp-menu-image {
    margin-left: -10px;
}

.folded #adminmenu div.wp-menu-image {
    margin-left: -15px;
}

/* nav text */
#adminmenu div.wp-menu-name,
.wp-submenu li a {
    /* text-align: center; */
}

/* nav links */
#adminmenu .opensub .wp-submenu li.current a,
#adminmenu .wp-submenu li.current,
#adminmenu .wp-submenu li.current a,
#adminmenu .wp-submenu li.current a:focus,
#adminmenu .wp-submenu li.current a:hover,
#adminmenu a.wp-has-current-submenu:focus+.wp-submenu li.current a {
    /* text-align: center; */
    color: #23282D;
}

#adminmenu .wp-submenu li.current,
#adminmenu .wp-submenu li.current a,
#adminmenu .wp-submenu li.current a:focus,
#adminmenu .wp-submenu li.current a:hover,
#adminmenu a.wp-has-current-submenu:focus+.wp-submenu li.current a,
#adminmenu li:not(.opensub) .wp-submenu a {
    color: #23282D !important;
    /* text-align: center !important; */
}

/* submenu links are light cause they're on a dark bg*/
/* creating problems on click */
#adminmenu .opensub .wp-submenu a {
color: #ffffff;
}

#adminmenu a {
    color: #191E23;
    letter-spacing: 0.04rem;
}

#adminmenu .wp-submenu a.current {
    font-weight: 900;
}

#adminmenu .wp-submenu a:focus,
#adminmenu .wp-submenu a:hover,
#adminmenu a:hover,
#adminmenu li.menu-top>a:focus,
#adminmenu li:not(.opensub) .wp-submenu a:hover {
    color: #00b9eb !important;
}

#adminmenu li>a .wp-menu-name {
    font-size: 14px;
}

#adminmenu .wp-has-current-submenu ul>li>a,
.folded #adminmenu li.menu-top .wp-submenu>li>a {
    /* padding: 5px 12px 5px 45px; */
    /* text-align: center; */
}

#adminmenu .wp-submenu-head,
#adminmenu a.menu-top {
    padding: 10px 15px;
}

.folded #adminmenu li.menu-top {
    height: 54px;
}

.folded #adminmenu a.menu-top {
    min-height: 34px;
    height: 34px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.block-editor-page #adminmenu .wp-submenu li.current a,
.block-editor-page #adminmenu li:not(.opensub) .wp-submenu a {
    color: white !important;
}
.block-editor-page #adminmenu .wp-submenu li.current a:hover,
.block-editor-page #adminmenu li:not(.opensub) .wp-submenu a:hover {
    color: #00b9eb !important;
}
.block-editor-page #adminmenu .wp-submenu {
    position: absolute;
    left: 100%;
    top: 0;
    display: none;
    background-color: #191E23 !important;
    color: white !important;
}


.block-editor-page #adminmenu .wp-menu-open:hover .wp-submenu {
    display: block;
}
/* #adminmenu.covertnine-menu-in  .wp-menu-open .wp-submenu {
    position: relative !important;
    z-index: 1 !important;
} */

/* move over wp content for larger padded admin side menu*/
#wpcontent,
#wpfooter {
    margin-left: 200px;
}

#adminmenu,
#adminmenu .wp-submenu,
#adminmenuback,
#adminmenuwrap {
    width: 200px;
}

#adminmenuwrap {
    border-right: 1px solid #e5e5e5;
}

#adminmenu .opensub .wp-submenu {
    left: 200px;
    background-color: #191E23;
}
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu.wp-menu-open {
    z-index: 15;
}
#adminmenu a.menu-top:focus+.wp-submenu,
.js #adminmenu .opensub .wp-submenu,
.js #adminmenu .sub-open,
.no-js li.wp-has-submenu:hover .wp-submenu {
    top: 0px;
}

/*hide submenu triangle*/
#adminmenu li.wp-has-submenu.wp-not-current-submenu.opensub:hover:after,
.woocommerce-page .wp-has-current-submenu:after {
    display: none;
}

/*hide WP footer message*/
#wpfooter #footer-left {
    display: none;
}

/* wp buttons */
.wp-core-ui .button-group.button-large .button,
.wp-core-ui .button.button-large,
.wp-core-ui button {
    font-family: 'Muli',
        'helvetica neue',
        helvetica,
        sans-serif;
    letter-spacing: 0.04rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 10px;
}

.edit-post-header .components-button.editor-post-preview,
.edit-post-header .components-button.editor-post-publish-button,
.edit-post-header .components-button.editor-post-publish-panel__toggle,
.edit-post-header .components-button.editor-post-save-draft,
.edit-post-header .components-button.editor-post-switch-to-draft,
.row-actions span a {
    font-family: 'Muli',
        'helvetica neue',
        helvetica,
        sans-serif;
    font-weight: 700;
    font-size: 10px;
    letter-spacing: 0.04rem;
    text-transform: uppercase;
}